body{
  font-family: Montserrat !important;
}

h1{
font-family: 'Montserrat', sans-serif;

}


#title{
  background-color: #ff4c68;
  color: #fff;

}
.container-fluid{
  padding:3% 15% 7% !important;
}
.navbar{
    padding:0 0 4.5rem !important;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem !important;
  font-weight: bold;
}
.navbar-item{
  padding: 0 13px;
}
.nav-link{
  font-size: 1.2rem;!important
  font-family: 'Montserrat-Light'!important;
}
.download-button{
  margin:5% 3% 5% 0;
}
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 35%;


}
/* Features*/
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;


}
h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold !important;
  font-size: 1.5rem !important;
}
P{
  font-family: Montserrat;
  color: #8f8f8f;
}
.feature-iconhover:hover{
  color: #ff4c6b;

}
.feature-iconhover{
  color: #ef8172;
  margin-bottom: 1rem;
}
.feature-box{
  text-align: center;
  padding: 4.5% !important;

}


/* testimonials*/
#testimonials{

  text-align: center;
  background-color: #ef8172;
    color: #fff;

}
h2{
  font-family: Montserrat !important;
  font-weight: bold !important;

  line-height: 1.5 !important;
  font-size: 3rem !important;
}
.testimonal-image{
  width: 10%;
  border-radius: 100%;
  padding: 20px;

}
#press{
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;

}
.press-image{
  width: 15%;
  margin: 20px 20px 50px;

}
.carousel-item{
  padding: 7% 15%;

}

/* pricing*/
#pricing{
  padding: 7% 15%;
  text-align: center;
}
.price-cards{
  padding: 3% 2%;
}
@media (max-width:1028px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotateX(0);
  }
}

/* fottersection*/
#cta{
  text-align: center;
  background-color: #ff4c6b;
  padding:  7% 15% !important;
}
.cta-head{
  color: #fff;
  font-style: Montserrat !important;
  font-weight: 900 !important;
  font-size: 3.5rem !important;

  line-height:1.5;
}

#footer{
  padding:7% 15%;
  background-color: #fff;
  text-align: center;

}
.ic{
  padding:2% 1% 2%;
}
